* {
    padding: 0px;
    margin: 0px;
}

.sliderContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;

}

.rightSlider {

    height: 100vh;
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;



}

.rightSlider>div {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;


}


.leftSlider {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100vh;


}

.leftSlider>div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;

}

/* .actionBtn {
    position: absolute;
    left: 35%;
} */

button {

    height: 40px;
    width: 60px;
}

.downBtn {
    position: absolute;
    top: 55%;
    left: 31.5%;
}

.upBtn {
    position: absolute;
    left: 35.5%;
}